.about {
    background-color: transparent;
    font-size: 1.1em;
    margin: 0;
    position: relative; 
    padding: 10em 0;
    
}

.profile {
    max-width: 20em;
    background-color: transparent;
    border: none;
    margin-right: 10em;
    margin-top: 5em;
}

.my-details{
    margin: auto;
}

.aboutH{
    opacity: .1;
    position: absolute;
    font-size: 10em;
    top: 10%;
    left: 25%;
    margin: 0;
}

@media only screen and (max-width: 600px){
    .aboutH{
        visibility: hidden;
    }

    .profile{
        margin: 0;
        max-width: 100%;
    }

   .about{
       padding: 1em;
   }
}



