.about {
    background-color: transparent;
    font-size: 1.3rem;
    margin: 0;
    position: relative; 
    padding: 1em;

    &__heading {
        padding-bottom: 3rem;
        font-size: 4rem;
    }

    // .profile {
    //     max-width: 100%;
        
    //     background-color: transparent;
    //     border: none;
    //     margin: 0;
        
    // }
    
    .my-details{
        margin: none;
    }
    
    .aboutH{
        opacity: .1;
        position: absolute;
        font-size: 10em;
        top: 10%;
        left: 25%;
        margin: 0;
        visibility: hidden;
    }
    
}




/* Testing Mobile first aproach */
@media only screen and (max-width: 600px){

    .about {
        width: 100vw;
    }

    .profile {
        visibility: hidden;
        
    }
     

//    .about{
//     //    padding:  10em 0;


//        .aboutH{
//         visibility: visible ;
//     }

//     .profile{
//         margin-right: 10em;
//         margin-top: 5em;
        
//     }
//    } 
}



