.Experiences{
  margin: 0 5em;
  font-size: 1.3rem;

  &__heading {
    font-weight: 400;
    color: rgb(78, 77, 77);
  }
}

@media only screen and (max-width: 1080px){

 .Experiences{
   margin-right: 1.5em;
   margin-left: auto;
 }
  
}