.Experiences{
  margin: 0 auto;
  margin-bottom: 10rem;
  font-size: 1.3rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;


  &__heading {
    font-weight: 400;
      font-size: 4rem;
      color: rgb(78, 77, 77);
      // color: white;
      letter-spacing: 3rem;
      margin: 10rem;
    
  }
}

@media screen and (max-width: 600px) {
  .Experiences {

    margin: 0 auto;

    &__heading {
      letter-spacing: 0;
      font-size: 3rem;
      width: 80vw;
      margin: 4rem;
    }
  }

}