.Experiences{
  margin: 5rem auto;
  font-size: 1.3rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;


  &__heading {
    font-weight: 400;
    color: rgb(78, 77, 77);
    letter-spacing: 3rem;
    margin-bottom: 4rem;
    
  }
}

@media screen and (max-width: 600px) {
  .Experiences {
    &__heading {
      letter-spacing: 0;
    }
  }

}