
.Projects {

  width: 70%;
  overflow: hidden;
  font-size: 1.1rem;
  margin: 0 auto;
  color: rgb(78, 77, 77);
  margin-bottom: 5rem;

  &__container {
    
    background-color: rgba(255, 255, 255, 0.322);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .2);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
  }

  .pagination {
    align-self: center;
    display: inline-block;
    padding: 3rem;

     & a{
      padding: 1rem;
      text-decoration: none;
      color: rgb(161, 110, 143);
      cursor: pointer;

      &.active {
        background-color: rgb(161, 110, 143);
        color: white;
      }
     }


  }



  &__upper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__heading {
    font-weight: 400;
    font-size: 3.5rem;
    color: rgb(78, 77, 77);
    letter-spacing: 3rem;
    margin: 6rem;
    margin-bottom: 5rem;
  }

 
  &__overlay {
    padding: 3rem;
  }

  &__card{
    margin-top: 3rem;
    width: 90%;
    display: flex;
    justify-content: space-between;

  }

  &__img {
    height: 10rem;
    min-height: 20rem;
    height: 30rem;
    max-width: 40%;
    
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    width: 30%;
  }

  &__btn {
    border: none;
    background-color: rgb(161, 110, 143);
    padding: .5rem 2rem;
    color: white;
    text-transform: uppercase;
    transition: all .5s;
    margin-top: 2rem;
    text-decoration: none;
    text-align: center;

    &:hover,
    &:focus {
      box-shadow: inset 30rem 0 0 0 rgb(240, 187, 221);
      text-decoration: none;
      color: white;
    }
  }
}

@media screen and (max-width: 600px) {
  
  .Projects{
    width: 90%;

    &__heading {
      letter-spacing: 0;
      font-size: 3rem;
      width: 80vw;
      margin: 3rem;
    }

    &__card {
      min-width: 95%;
      margin: 1.5rem auto;
      flex-direction: column;
      min-width: 100%;
      margin: 0;
      
    
    }

      
    &__img {
      min-width: 95%;
      height: 10rem;
      min-height: 20rem;
      position: relative;
    }

    
    &__description {
      padding: 0;
      width: 90%;

  
    }
  }


}


















