 .skills{
    margin-bottom: 5rem;
    font-size: 1.1rem;

    .focus {
      transition: transform 0.3s;
    }
    
    .focus:hover {
      transform: scale(1.05);
    }
    
    .card-title {
      font-size: 2em;
      font-weight: 700;
    }
    
    .image-style {
      width: 3em;
    }
    
    .font-details {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 3em;
      font-weight: 500;
      color: #4A5240;
    }

    &__heading {
      font-weight: 400;
      color: rgb(78, 77, 77);
      letter-spacing: 3rem;
      margin: 3rem;
    }
    
    // .font-details-b {
    //   font-family: Verdana, Geneva, Tahoma, sans-serif;
    //   font-size: 3em;
    //   font-weight: 500;
    //   color: #ffffff;
    // }

    &__card{
      box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);
      font-size: 1rem;
    }

 }
 



@media only screen and (max-width: 600px){
  
  .skills{
    margin:auto;
  }

  .font details .font-details-b{
    font-size: 2.5em;
    margin-top: 1em;
  }
  
  .focus:hover {
    transform: none;
  }

}
