 .skills{
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .focus:hover {
      animation: grow 1.5s ease forwards;
    }
    
    .card-title {
      font-size: 2em;
      font-weight: 700;
    }
    
    .image-style {
      width: 3em;
    }
  

    &__heading {
      font-weight: 400;
      font-size: 4rem;
      // color: rgb(78, 77, 77);
      color: white;
      letter-spacing: 3rem;
      margin: 10rem;
      
    }

    &__holder {
      display: flex;
      margin-bottom: 2rem;
      width: 95%;
      justify-content: space-evenly;
      color: white;
    }
  

    &__card{
      box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);
      font-size: 1rem;
      min-width: 30%;
      background-color: rgba(248, 248, 248, 0.281);

      &__heading {
        font-size: 3rem;
        margin: 2rem;
        letter-spacing: .3rem;
      }

      &__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-evenly;

        &__skill {
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
        }
      }
    }

 }

 //Animation
 @keyframes grow {
   to{
    transform: scale(1.1);
   }
 }

//Media queries
 @media screen and (max-width: 900px) {
    .skills {
      margin-bottom: 0;

      &__heading {
        letter-spacing: 0;
        font-size: 3rem;
        width: 80vw;
        margin: 4rem;
      }

      &__holder {
        flex-direction: column;
        margin-bottom: 2rem;
      }

      &__card {
        min-width: 100%;
        margin: 2rem 0;

        &__inner {


          &__skill {

          }
        }
      }
    }

  }

