 .skills{
    margin-bottom: 5rem;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .focus {
      transition: transform 0.3s;
    }
    
    .focus:hover {
      transform: scale(1.05);
    }
    
    .card-title {
      font-size: 2em;
      font-weight: 700;
    }
    
    .image-style {
      width: 3em;
    }
  

    &__heading {
      font-weight: 400;
      color: rgb(78, 77, 77);
      letter-spacing: 3rem;
      margin: 3rem;
    }
  

    &__card{
      box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);
      font-size: 1rem;
    }

 }


 @media screen and (max-width: 600px) {
    .skills {
      &__heading {
        letter-spacing: 0;
      }
    }

  }

