.myDiv{
  height: 20%;
  min-width: 80vw;
  position: relative;
  background-color: #fff;
  margin: 1rem auto;
  padding: 1em;
  font-size: 1.1rem;
  color: rgb(78, 77, 77);

  &__heading {
    font-weight: 600;
    font-size: 1.4rem;
  }

  .border {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid white;
    top: -10px;
    left: -10px;
    z-index: -1;
    
  }
}


